*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: skyblue;
}
#container{
    background-color: brown;
    width: 80%;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
    "tl one two thr fou fiv six sev eig nin zer del"
    "tab q w e r t y u i o p bk"
    "cap a s d f g h j k l en en"
    "shift z x c v b n m lt1 gt1 sh sh"
    "em1 ct1 op1 al1 sp sp sp sp al2 op2 larr rarr";
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}
#container>div:nth-child(1){
    grid-area: tl;
}
#container>div:nth-child(2){
    grid-area: one;
}
#container>div:nth-child(3){
    grid-area: two;
}
#container>div:nth-child(4){
    grid-area: thr;
}
#container>div:nth-child(5){
    grid-area: fou;
}
#container>div:nth-child(6){
    grid-area: fiv;
}
#container>div:nth-child(7){
    grid-area: six;
}
#container>div:nth-child(8){
    grid-area: sev;
}
#container>div:nth-child(9){
    grid-area: eig;
}
#container>div:nth-child(10){
    grid-area: nin;
}
#container>div:nth-child(11){
    grid-area: zer;
}
#container>div:nth-child(12){
    grid-area: del;
}
#container>div:nth-child(13){
    grid-area: tab;
}
#container>div:nth-child(14){
    grid-area: q;
}
#container>div:nth-child(15){
    grid-area: w;
}
#container>div:nth-child(16){
    grid-area: e;
}
#container>div:nth-child(17){
    grid-area: r;
}
#container>div:nth-child(18){
    grid-area: t;
}
#container>div:nth-child(19){
    grid-area: y;
}
#container>div:nth-child(20){
    grid-area: u;
}
#container>div:nth-child(21){
    grid-area: i;
}
#container>div:nth-child(22){
    grid-area: o;
}
#container>div:nth-child(23){
    grid-area: p;
}
#container>div:nth-child(24){
    grid-area: bk;
}
#container>div:nth-child(25){
    grid-area: cap;
}
#container>div:nth-child(26){
    grid-area: a;
}
#container>div:nth-child(26){
    grid-area: s;
}
#container>div:nth-child(28){
    grid-area: d;
}
#container>div:nth-child(29){
    grid-area: f;
}
#container>div:nth-child(30){
    grid-area: g;
}
#container>div:nth-child(31){
    grid-area: h;
}
#container>div:nth-child(32){
    grid-area: j;
}
#container>div:nth-child(33){
    grid-area: k;
}
#container>div:nth-child(34){
    grid-area: l;
}
#container>div:nth-child(35){
    grid-area: en;
}
#container>div:nth-child(36){
    grid-area: shift;
}
#container>div:nth-child(37){
    grid-area: z;
}
#container>div:nth-child(38){
    grid-area: x;
}
#container>div:nth-child(39){
    grid-area: c;
}
#container>div:nth-child(40){
    grid-area: v;
}
#container>div:nth-child(41){
    grid-area: b;
}
#container>div:nth-child(42){
    grid-area: n;
}
#container>div:nth-child(43){
    grid-area: m;
}
#container>div:nth-child(44){
    grid-area: one;
}
#container>div:nth-child(45){
    grid-area: lt1;
}
#container>div:nth-child(46){
    grid-area: gt1;
}
#container>div:nth-child(47){
    grid-area: sh;
}
#container>div:nth-child(48){
    grid-area: em1;
}
#container>div:nth-child(49){
    grid-area: tl;
}
#container>div:nth-child(50){
    grid-area: ct1;
}
#container>div:nth-child(51){
    grid-area: op1;
}
#container>div:nth-child(52){
    grid-area: al1;
}
#container>div:nth-child(53){
    grid-area: sp;
}
#container>div:nth-child(54){
    grid-area: al2;
}
#container>div:nth-child(55){
    grid-area: op2;
}
#container>div:nth-child(56){
    grid-area: larr;
}
#container>div:nth-child(57){
    grid-area: rarr;
}
#container>div{
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}